body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
  font-size: 8pt;
  bgcolor: #003399;
}

td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 8pt;
}
.comments {
     font-family: Verdana, serif;
     font-size: 8pt;
     font-weight: bold;
     color: #000000;
}.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #CCCCCC;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	text-align: center;
}
a.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	font-weight: bold;
}
a.header:hover {
	color: #FFF; 
	text-decoration:underline;
}
